body {
  background: linear-gradient(0deg, #323e3a 10%, #43534c 40%, #4f615b 70%, #677d75 100%);
  position: relative;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

span {
  color: white;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with fully transparent */
  }
  to {
    opacity: 1; /* Fade to fully visible */
  }
}

h1, h2, h3, h4, p, hr, u, .chente-profile-img, .experience-images, .completed-projects {
  animation: fadeSlideIn 3s forwards;
  animation: fadeIn 3s forwards, slideIn 3s;

}

h1 {
  color: #fff;
  font-size: 4.5rem;
  letter-spacing: -1px;
  margin: 50px auto 0;
}

h2 {
  color: #dbcbc1;
  font-size: 3rem;
  letter-spacing: 0;
  margin: auto;
  padding-bottom: 10px;
  text-decoration: underline;
  width: 75%;
}

h3 {
  color: #EAF6F6;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h4 {
  color: #323e3a;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

p {
  line-height: 2;
  color: #EAF6F6;
  font-size: 0.85rem;
}

hr {
  border: dotted #c4d9ce6b 14px;
  border-bottom: none;
  width: 50%;
  margin: 100px auto;
}

u {
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  font-size: 1.4rem;
  background: #c4d9ce6b;
  border-radius: 10px;
  padding: 5px 10px;
}

a:hover {
  background: #fff;
  color: #e3c6bf;
  text-decoration: none;
}

.navigation-bar {
  animation: slideIn 3s forwards;
  background: #c4d9ce6b;
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Nav bar overlaps other elements */
}

.nav_bar_padding {
  padding-top: 50px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 7.5px;
}

.chente-profile-img {
  animation: fadeIn 3s forwards, slideIn 1.5s;
  outline: 30px solid #fff;
  margin-top: 50px;
}

.about-me-profile {
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-me {
  width: 70%;
  margin: auto;
}

.embracing-vulnerability-block, .my-goal-block {
  width: 60%;
  margin: 100px auto;
  text-align: left;
  margin-bottom: 50px;
}

.web-programming-img, .goal-img {
  animation: fadeIn 3s forwards, slideIn 3s;
  width: 22%;
  float: left;
  margin-right: 5%;
}

.my-projects {
  width: 60%;
  margin: 50px auto;
}

.experience-block {
  width: 70%;
  margin: 0 auto 100px;
  text-align: left;
  margin-bottom: 50px;
}

.experience-images {
  animation: fadeIn 3s forwards, slideIn 3s;
  width: 10%;
  float: right;
  margin-right: 5%;
}

.completed-projects {
  align-items: auto;
  margin-left: auto;
  border: 8px solid #717167;
}

.completed-projects:hover {
  background: #bdbcb0;
  color: #c0ba7e;
  text-decoration: none;
}

.contact-me {
  margin-bottom: 80px;
}

.contact-message {
  width: 60%;
  margin: 40px auto 60px;
}

.btn {
  animation: fadeIn 3s forwards, slideIn 3s;
  background: #c4d9ce6b;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #fff;
  color: #e3c6bf;
  text-decoration: none;
}

.bottom-container {
  animation: fadeIn 3s forwards, slideIn 3s;
  padding: 35px 0 15px;
  background: #c4d9ce6b;
  position: relative;
}

.contact-me {
  animation: fadeIn 3s forwards, slideIn 3s;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

.footer-link:last-child {
  margin-right: 0;
}

